body{
    background: #f8f8f8;
    font-family: 'Montserrat', sans-serif;     
}
/* Left column */
main .required-tools{
    font-size:14px;
    margin-right:5px;
}
main{
    margin-bottom: 50px;
    background: #fafafa;
}

main span img{
    height:14px;
    margin-right:2px;
}
main  .categories{
  font-size: 10px;
  font-family: "Audiowide";
  color: #fff;
  background: #9b9b9b;
  text-transform: uppercase;
  text-align: right;
  padding: 3px;
}
main .first{
    margin-top: 30px;
}
main .first h1{
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb( 66, 66, 66 );
  margin-top: 20px;
}
main .dates{
    font-size: 10px;
  font-family: "Montserrat";
  color: rgb( 205, 205, 205 );
  text-transform: uppercase;
  width: 65px;
  height: 10px;
  display: inline-block;
  margin-top: 20px;
}
main .social{
    float: right;
    margin-top: 20px;
}
main .first p{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb( 66, 66, 66 );
  line-height: 1.714;
}
main .first p:nth-of-type(1){
    margin-top: 30px;
}
main .first h2{
  font-size: 18px;
  font-family: "Montserrat";
  color: #2952ff;    
  margin-top: 50px;
}
main .next{
    margin-left: 20px;
    margin-top: -15px;
    margin-right: 20px;
}
main .next h3{
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb( 66, 66, 66 );
  margin-top: 10px;
  margin-bottom: 0;
}
main .next p{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb( 66, 66, 66 );
  line-height: 1.714;
}
main .next .button{
    background-color: #2952ff;
  color: #fff;
  width: 166px;
  height: 44px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 15px; 
}
main .next .button:hover{
    

    box-shadow:0px 5px 18px 7px rgba(199,201,201, 0.42);
}
main .first a {
  text-decoration: none;
}
main a .categories:hover{
  
  opacity: .5;
}

main .block{
    margin-bottom: 20px;
    background: #fff;
    background-clip: content-box;
}
main .next span.dates{
    margin-top: 10px;
}
.section{
    background-color:white;
    padding:20px 20px 20px 20px;    
    box-shadow: 0px 8px 25px 3px rgba(199,201,201,0.64);    
}

.section .rating{
    margin-bottom:15px;
}
.section .rating .fa-star{
    color:#ec8ea1;
    font-size:12px;
}
.section .pin-section{
    text-align:right;
}
.section .pinned, .section-second .recommended-section .recommendation .pinned{
    background-color:#ed1c24;
    width:75px;    
}  
.section-second .recommended-section .recommendation .superhot{
    background-color:#f7941d;
    width:100px;   
}     
.section .pinned,
.section-second .recommended-section .recommendation .pinned,
.section-second .recommended-section .recommendation .superhot{
    color: white;
    margin:0px;
    font-size:10px;
    color:white;
    font-family: 'Audiowide', cursive;
    text-align: center;
    padding: 4px 3px; 
    margin-bottom:7px;  
    margin-top:-25px;
    box-shadow: 0px 5px 10px 3px rgba(199,201,201,0.64);
}
.section .pinned img, 
.section-second .recommended-section .recommendation .pinned img, 
.section-second .recommended-section .recommendation .superhot img{
    height:12px;
}
.section-second .recommended-section .recommendation .pinn-wrapper{
    width:100%;
    margin-left:0px;
    margin-right:0px;
}
.section-second .recommended-section .recommendation .pinn{
    margin: 0 auto;
}
    
.section-first{
    max-height:250px;
}
.section.section-first-second{
    margin-top:20px;
}
.section.section-first-second p {
    margin-bottom:0px;
}
.section.section-first-second hr{
    margin-top:10px;
}
.section-first-second .social-icons-share i{
    color:white;
    background-color:#9b9b9b;
    width:40px;
    height:40px;
    font-size:20px;
    text-align:center;
    padding-top:10px;
    border-radius:20px;
    margin:0px 3px 3px 0px;
}
.section-first-second .social-icons-share i:hover{
    background-color:#eb413b;
    box-shadow: 0px 8px 25px 3px rgba(199,201,201,0.64);
    -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
    
.additional-information{
    margin-top:10px;
}
.additional-information .row{
    margin-bottom:15px;
}
.additional-information img{
    height:18px;
    margin-top:-3px;
    margin-right:5px;
}
.additional-information .name{
    font-size:12px;
    font-weight:300;
    color:#707070;
}
.additional-information .value{
    font-size:14px;
    margin-top:-2px;
    font-weight:400;
}


/* Right column */
.section-second .instructions, .section-second .more-about-section, .section-second .recommended-section .recommendation{
    background-color:white;
    padding:20px 20px 20px 20px;
    box-shadow: 0px 8px 25px 3px rgba(199,201,201,0.64);
}
.section-second .more-about-section, .section-second .recommended-section .recommendation{
    margin:20px 0px;
}
/* Right column instructions styles */
.section-second .instructions .header{
    font-size:18px;
    margin-bottom:0px;
}
.section-second .instructions .required-tools{
    font-size:14px;
    margin-right:5px;
}
.section-second .instructions hr{
    margin-top:10px;
}
.section-second .instructions span img{
    height:14px;
    margin-right:2px;
}
.section-second .instructions span .email{
    height:16px;
}    
.section-second .instructions .instructions-list{
    font-size:14px;
    margin-top:20px;
}
.section-second .instructions .instructions-list p{
    margin:5px 0px;
}
.section-second .instructions .instructions-list a{
    color:#eb413b;
    text-decoration: none;
}    
.section-second .instructions .btn-group button{
    margin: 0 auto;
    width:200px;
    font-weight:500;
    margin-bottom:10px;
    margin-top:10px;
    border:none;
    font-size:14px;
    padding:10px 0px;
}
.section-second .instructions .btn-group button:hover{
    box-shadow:0px 5px 18px 7px rgba(199,201,201, 0.42);    
}
.section-second .instructions .btn-group .join-airdrop{
    background-color:#eb413b;
    margin-top: 30px;
}
.section-second .instructions .btn-group .visit-token{
    background-color:#9b9b9b;
    
}
/* Right column section More about */
.section-second .more-about-section .header{
    font-size:18px;
}
.section-second .more-about-section .text{
    font-size:13px;
    text-align:justify;
}
/* Right column section of recommendations */
.section-second .recommended-section{
    margin-bottom:30px;
}

.section-second .recommended-section .container{
    padding-left:0px;
    padding-right:0px;
}
.section-second .recommended-section .header{
    text-align:center;
    margin-top:30px;
    font-weight:400;
    font-size:18px;
    
}
.section-second .recommended-section .recommendation{
    padding:20px 20px 5px 20px;
    margin:8px 0px;
}

.section-second .recommended-section .recommendation .name{
    margin:0px;
    font-weight:500;
    font-size:18px;
}
.section-second .recommended-section .recommendation p .price{
    font-size:14px;
    color:#eb413b;
    font-weight:700;
    margin-right:5px;
}
.section-second .recommended-section .recommendation p .value{
    font-size:11px;
    color:#424242;
}    


/* Mobile search */
.search-input-wrapper{
    text-align:right;

}
.filter-menu{
    background-color:white;
    padding:10px 0px 15px;
}
.filter-menu input {
    outline: none;
    padding:10px 0px;
}
input[type=search] {
    margin-right:20px;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
    font-size: 100%;
    font-family: 'Montserrat', sand-serif;
    font-weight: 200;
    background: white;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}
input[type=search] {
  background: #fff url(../images/search_red.png) no-repeat 9px center;
  border: solid 1px  white;
  padding: 2px 10px 0px 20px;
  width: 0px;
  -webkit-transition: all .9s;
  -moz-transition: all .9s;
  transition: all .9s;
}
input[type=search]:focus {
  width: 80%;
  background-color: #fff;
  border-color: #F3F3F3;
    padding: 0px 10px 0px 32px;
    box-shadow: 0px 5px 5px 5px rgba(199,201,201,0.24);
}
/* Additional styles for different screens to reach desired design */
@media(min-width:768px){
    header .right{
        right:0px;
    }
    .section-second .recommended-section .recommendation .image{
        padding-left:5px;
    }
    .section-second{
        margin-top:60px;
    }
    .section{
        margin-top:60px;            
    }
    
}
@media(max-width:768px){
    .section-second{
        padding-right:0px;
        padding-left:0px;
        margin-top:0px;
    }
    .section-first{
        margin:20px 0px;
    }
    
}
@media(max-width:768px){
    .section-second .recommended-section .recommendation .pinn-wrapper{
        margin-left:-10px;
    }
    .section-second .recommended-section .recommendation .pinn{
        margin-left:30%;
    }
}
@media(min-width:768px) and (max-width:992px){
    .section-second .recommended-section .recommendation .pinn-wrapper{
        margin-left:-10px;
    }
    .section-second .recommended-section .recommendation .pinn{
        margin-left:10%;
    }
}
@media(min-width:992px) and (max-width:1024px){
    .section-second .recommended-section .recommendation .pinn-wrapper{
    }
    .section-second .recommended-section .recommendation .pinn{
        margin-left:30%;
    }
}