body{
    background: #f8f8f8;
    font-family: 'Montserrat', sans-serif;     
}

/* Left column of filter section design */
main .blog{
  font-size: 18px;
  font-family: "Montserrat";
  color: #2952ff;
  width: 39px;
  height: 18px;
  z-index: 357;
  margin-top: 16px;
}
main .block{
    background: #fff;
    margin-bottom: 20px;
}
main .row a{
    text-decoration: none;
}
main  .categories{
  font-size: 10px;
  font-family: "Audiowide";
  color: #fff;
  background: #9b9b9b;
  text-transform: uppercase;
  text-align: right;
  padding: 3px;
}
main .block p.list{
    margin-top: -15px;
}
main .block h1{
  font-size: 18px;
  
}
main .block p, main .block h1{
   margin-left: 30px; 
  font-family: "Montserrat";
  color: rgb( 66, 66, 66 );
  padding-right: 30px;
  
}
main .block p{
    line-height: 1.714;
}
main .block .button{
  background-color:#2952ff;
  color: #fff;
  width: 166px;
  height: 44px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  bottom: 20px;
}
main .block .button:hover{
    box-shadow:0px 5px 18px 7px rgba(199,201,201, 0.42);
}
main .block span.dates{
  font-size: 10px;
  font-family: "Montserrat";
  color: rgb( 205, 205, 205 );
  text-transform: uppercase;
  width: 65px;
  height: 10px;
  margin-left: 30px;
  position: relative;
  bottom: 17px;
}
main .place{
    background: #fff;
    padding: 20px;
    padding-bottom: 10px;
}
main .place img{
    border-radius: 3px;
}
main .place p {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb( 66, 66, 66 );
  line-height: 1.333;
  margin: 0;

}
main .place .row{
    margin-bottom: 30px;
}
main .cat h3{
  font-size: 18px;
  font-family: "Montserrat";
  color: #2952ff;
  margin-top: 50px;
}
main .cat .cat-list span{
    white-space: nowrap;

}

main .first-section-wrapper{
    margin-top:20px;
}
main .first-section-wrapper .container .row .header{
    color: #eb413b;
    font-size:16px;
    font-weight:500;
}

main .first-section-wrapper .container .row .card{
    flex-direction: initial;
    border:0;
}
main .first-section-wrapper .container .row .card-left{
    background-color:white;
    padding: 20px;
    box-shadow:0px 5px 25px 6px rgba(199,201,201, 0.42);
    font-size:14px;
    max-height: 420px;
}

main .first-section-wrapper .container .row .card-left .form-header, .modal .form-header{
    font-size:15px;
    margin-bottom:3px;
    font-weight: 500;
}
main .first-section-wrapper .container .row .card-left select, .modal select{
    height: 30px;
    font-size: 13px;       
    width: 100%;
    background: url('../images/arrow_red.png') no-repeat right;
    background-size:30px;
    -webkit-appearance: none;
}

main .first-section-wrapper .container .row .card-left .form-check-input, .modal .form-check-input{
    display:none;
}
main .pagination a{
    color: #000;
}
main a .categories:hover{
    opacity: 0.5;
}
.form-check-label{
    padding:0px 0px 0px 0px;
}
.form-check-label input:checked ~ .checkmark {
    background-color: #eb413b;
}
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
} 
.form-check-label input:checked ~ .checkmark:after {
    display: block;
}
.form-check-label .checkmark:after {
    font-family: 'FontAwesome';
    content: "\f00c";
    color:white;
    font-size:10px;
    text-align:center;
    left:3px;
}
main .first-section-wrapper .container .row .card-left .btn-group, .btn-group{
    display:block;
    text-align:center;
}
main .first-section-wrapper .container .row .card-left button, .modal button{
    padding:7px 7px;
    font-weight:500;  
    border:0;
    margin:10px 0px;
    width:170px;
    font-size: 14px;
    
}
main .first-section-wrapper .container .row .card-left button:hover{
    box-shadow:0px 5px 18px 7px rgba(199,201,201, 0.42);
    
}
    
main .first-section-wrapper .container .row .card-left .update-results, .modal .update-results{
    background-color:#eb413b;
}
main .first-section-wrapper .container .row .card-left .clear-filters, .modal .clear-filters{
    background-color:#9b9b9b;    
}
   
/* Right column designs */
main .first-section-wrapper .container .row .card-right{
    background-color:transparent;
}
main .first-section-wrapper .card-right{
}

main .first-section-wrapper .container .row .card{
    flex-direction: column;
}
main .first-section-wrapper .container .row .card-right a{
    text-decoration: none;
    color:black;
}
main .first-section-wrapper .container .row .card-right .card-list{
    margin:0px 0px 10px 0px;
    padding-top:1px;
    max-height:80px;
    box-shadow:0px 5px 25px 6px rgba(199,201,201, 0.42);
    background-color:white;
}
.card-list .main-block p{
    
    
}
.card-list .container {
    margin-bottom:10px;
    
}
.card-list .main-block .label{
    margin:0px;
    font-size:10px;
    color:white;
    font-family: 'Audiowide', cursive;
    text-align: center;
    padding: 4px 0px; 
    margin-bottom:7px;  
    margin-top:-8px;
    box-shadow: 0px 5px 10px 3px rgba(199,201,201,0.64);
    
}
.card-list .main-block .pinned{
    background-color:#ed1c24;
    width:70px;
}
.card-list .main-block .pinned img, .card-list .main-block .superhot img{
    height: 12px;
    
}
.card-list .main-block .superhot{
    background-color:#f7941d;
    width:100px;
}
.card-list .main-block .date{
    font-size:10px;
    color: #cdcdcd;
    margin-bottom:0px;
    margin-top:7px;
}
.card-list .main-block .pinned i{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.card-list .main-block .brand-name{
    font-size: 18px;
    margin-bottom:0px;
}
.card-list .main-block .value{
    font-size: 10px;
    margin-top:0px;
}
.card-list .main-block .value .price{
    font-size:12px;
    color: #eb413b;
    font-weight: 800;
}
.card-list .rating span .fa-star, .card-list .rating span .half-star{
    color:#e992a3;
    font-size:12px;
    height:14px;
}
.card-list .rating span .unrated{
    color: #d4c7c7;
}

.card-list .days p{
    font-size:12px;
    text-align:right;
    margin-bottom:0px;
}
.card-list .social{
    color:#9b9b9b;
    font-size:14px;
    margin-top:3px;
    text-align:center;
}
/* Card list social icons */
.moreicon{
    background-image: url('../images/more_normal.svg');
}
.emailicon{
    height: 15px!important;
    width: 15px!important;
    vertical-align: middle;
    margin-bottom:2px;
    background-image: url('../images/email-normal.svg');
}
.telegramicon{
    background-image: url('../images/telegram_normal.svg');
}
.facebookicon{
    background-image: url('../images/facebook-normal.svg');
}
.phoneicon{
    background-image: url('../images/phone-normal.svg');
}
.twittericon{
    background-image: url('../images/twitter_normal.svg');
}

.bitcoinicon{
    background-image: url('../images/bitcoin_normal.svg');
}
.card-list .social span div{
    height:13px;
    width:13px;
    margin-top:-2px;
    display:inline-block;
    
}

.card-list .social .hidden{
    display:none;   
}
.card-list .social:hover .hidden{
    display:inline;
}
.change-show{
    display:none;
}
.card-list .social:hover > .change-hide{
    display:none;
} 
.card-list .social:hover > .change-show{
    display:inline;
}  
.card-list .social .hidden{
    display:none;
}

main .second-section-wrapper .container .row{
    margin-top:100px;
    text-align:center;
}

main .second-section-wrapper .container .row h4{
    font-weight:500;
}
    
main .second-section-wrapper .container .row p{
    margin:15px 0px 100px 0px;
    font-size:14px;
    text-align:justify;  
    -moz-text-align-last: center;
    text-align-last: center;  
}
.pagination{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size:14px;
    font-weight:500;
}
 .pagination .pages{
    text-align:center;
}
.pagination .pages span{
   padding: 10px 15px;
}
.pagination .pages .selected{
    background-color:#2952ff;
    color:white;     
}
 .pagination .next{
    text-align: right;
}
/*FAQ Section */
main .faq-section-wrapper{
    margin-bottom:50px;
}
main .faq-section-wrapper .faq{
    margin-bottom:2px;
    background-color:white;
    box-shadow: 0px 8px 25px 3px rgba(199,201,201,0.64);
}
main .faq-section-wrapper .question{
    display:inline-block;
    background-color: white;
    font-weight:500;
    height: 90px;
    font-size: 18px;
    display:table;
    
}
main .faq-section-wrapper .question span{
    display:table-cell; 
    vertical-align:middle;
}
main .faq-section-wrapper .question .opening{
    display:table-cell; 
    vertical-align:middle;
    float:inherit;
}
.faq-section-wrapper .question .opening{
    float: right;
    text-align: right;
    font-weight: 500;
    margin-right:10px;
}
.faq-section-wrapper .question .opening.minus{
    display: none;
}
    
.faq-section-wrapper .answer{
    display:none;
    font-size:14px;
    background-color: white;
    padding-top:30px;
    padding-bottom:20px;
    padding-right:50px;
    text-align:justify;
}

/* Mobile filter menu with search */

.filter-menu{
    background-color:white;
    padding:10px 10px;
    min-height:50px;
}
.filter-menu .filter{
    background-color:#eb413b;
    width:85px;
    padding:5px 8px 3px 8px;
    color:white;
    font-size:12px;
    font-weight:400;
    box-shadow: 0px 5px 10px 3px rgba(199,201,201,0.64);
    
}
.filter-menu .filter span{
    padding-top:10px;
}
.filter-menu .filter img{
    width:20px;
    margin-top:-3px;
}
.filter-menu .search-input-wrapper{
    text-align:right;

}

input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-size: 100%;
    font-family: 'Montserrat', sand-serif;
    font-weight: 200;
    background: white;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}
input[type=search] {
    background: #fff url(../images/search_red.png) no-repeat 9px center;
    border: solid 1px  white;
    padding: 2px 10px 0px 20px;
    width: 0px;

    
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    transition: all .9s;
}
input[type=search]:focus {
    width: 80%;
    background-color: #fff;
    border-color: #F3F3F3;
    padding: 0px 10px 0px 32px;
    box-shadow: 0px 5px 5px 5px rgba(199,201,201,0.24);
}
#demo-2 input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
#demo-2 input[type=search]:hover {
    background-color: #fff;
}
#demo-2 input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
#demo-2 input:-moz-placeholder {
    color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}
/* Pop up window design */
.filter-header{
    font-size:20px;
    color:#eb413b;
    top:10px;
    left:10px;
    font-weight:500;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#d7d7d7;
    height: 1px;
    width:100%;
  }
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(28,28,28,0.86); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
}

.close {
    color:#eb413b;
    float: right;
    font-size: 50px;
    font-weight: normal;
    text-align:right;
    opacity:1;
}
.modal .container .row{
    padding:20px 20px 0px 0px;
    
}
.modal form{
    padding: 0px 80px 20px 80px;
    
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Additional design for different screens to reach desired design */
@media (min-width: 767px)and (max-width: 1023px) {

    main .first-section-wrapper .card-right{
        margin-left: 0px;
    }
 }
@media (max-width: 767px) { 
    main .dnone{
        display: none;
    }
   
    main .first-section-wrapper .container .row .card-right .card-list{
        max-height: 200px;
    }
    main .first-section-wrapper .card.card-left{
        display:none;
    }
    main .first-section-wrapper .card-right{
        margin-left: 0px;
    }
    .card-list .main-block .brand-name{
        margin:0px 0px 5px 0px;
    }

    main .pagination{
        font-size:12px;
    }
    main  .pagination .pages span {
        padding: 5px 8px;
    }
    main .first-section-wrapper .card-right .social{
        text-align:left;
        margin-bottom:10px;
    }
    main .first-section-wrapper .card-right .days{
        margin-bottom:10px;
    }
    main .first-section-wrapper .card-right .hidden{
        display:inline;
    }
    main .second-section-wrapper .container .row{
        margin-top:20px;
        margin-bottom:20px;
    }
    main .second-section-wrapper .container .row p{
        text-align-last: left;
        margin-bottom:0px;
    }
   
    main .faq-section-wrapper .faq .answer{
        padding-right:10px;
    }
   
}
