body {
  background: transparent;
  margin: 0;
  color: #CABDAA;
  height: 100vh;
  padding: 8px 0 10px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Istok Web', sans-serif; }

h1, h2, h3, p {
  margin: 0;
  padding: 0; }

.container {
  position: relative;
  width: 92%;
  max-width: 1200px;
  max-height: 1080px;
  min-height: 300px;
  height: calc(100% - 100px);
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  height: 100%;
  width: 100%;
  position: relative; }

.notebook {
  width: 938px;
  height: 744px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid #000;
  border-radius: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #FAF3E9; }
  .notebook .bookmark {
    width: 19px;
    height: 88px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 51%;
    z-index: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
    .notebook .bookmark img {
      width: 100%;
      height: 100%; }
  .notebook .bookmark-right {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
    height: 35px;
    width: 40px; }
    .notebook .bookmark-right img {
      height: 100%;
      width: 100%; }

.page {
  width: 50%;
  height: 100%;
  display: inline-block;
  position: relative;
  z-index: 1; }

.left {
  border-right: 1px solid #CABDAA;
  border-radius: 2% 0 0 2%; }

.pages {
  border-radius: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: calc(100% - 5px);
  border-right: 1px solid #CABDAA;
  border-left: 1px solid #CABDAA;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  justify-content: center; }

.page-info {
  height: 13%;
  padding-left: 5%;
  border-bottom: 1px solid #CABDAA;
  padding-bottom: 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top; }
  .page-info .bottom-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .page-info .dates {
    margin-top: 20px; }
  .page-info .text {
    display: inline-block;
    font-size: 11px;
    margin-top: auto;
    margin-right: 20px;
    color: #B8A78D;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%; }
    .page-info .text .year {
      margin-left: -3em; }
  .page-info .day {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: lighter;
    color: #D0C5A5;
    line-height: 100%; }
    .page-info .day h1 {
      font-weight: normal;
      font-size: inherit; }
  .page-info .month {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.3;
    color: #4C3F36;
    margin-bottom: 0; }
  .page-info .date {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
    color: #4C3F36;
    display: inline-block; }

.right {
  border-radius: 0 2% 2% 0; }
  .right .page-info {
    padding-left: 0;
    padding-right: 5%; }
    .right .page-info .day, .right .page-info .month, .right .page-info .date {
      text-align: right; }
    .right .page-info .bottom-text {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
      .right .page-info .bottom-text .text {
        margin-left: 6em; }

.number {
  height: auto;
  position: absolute;
  left: 0;
  line-height: 21px;
  font-size: 9px;
  width: 100%;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .number p {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #CABDAA; }
  .number p:nth-of-type(even) {
    color: transparent; }
  .number span {
    display: inline-block;
    width: 5%;
    text-align: right; }
  .number .week {
    float: right;
    width: 10%;
    margin-right: 5%;
    color: #CABDAA; }

.text-input {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 84%; }
  .text-input textarea {
    padding: 0;
    padding-left: 7%;
    padding-right: 3%;
    font-family: 'Istok Web', sans-serif;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    border: none;
    overflow: hidden;
    background-attachment: local;
    resize: none;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 5%; }

@media screen and (max-width: 500px) {
  .wrapper {
    width: 520px;
    padding: 5px;
    height: 400px; }
  body {
    padding: 0;
    height: 96vh; }
  .pages {
    width: calc(100% - 2px); }
  .notebook {
    position: absolute;
    max-width: 500px;
    height: 390px; }
    .notebook .bookmark {
      width: 14px;
      height: 45px; }
    .notebook .bookmark-right {
      width: 20px;
      height: 20px; }
    .notebook .page-info .dates {
      margin-top: 10px; }
    .notebook .page-info .day {
      font-size: 10px; }
    .notebook .page-info .month {
      font-size: 8px; }
    .notebook .page-info .date {
      font-size: 8px; }
    .notebook .page-info .text {
      font-size: 6px;
      line-height: 7px; }
    .notebook .text-input textarea {
      line-height: 12px;
      font-size: 9px; }
    .notebook .number {
      line-height: 11px; }
      .notebook .number span {
        width: 6%; }
      .notebook .number .week {
        width: 16%; } }
