$black: #000;
$bgNotebook: #FAF3E9;
$colorLine: #CABDAA;
$colorTextDayDate: #4C3F36;
$colorTextDOW: #D0C5A5;
$colorTextTop: #B8A78D;
$colorBookmark: #021C47;

body {
    background: transparent;
    margin: 0;
    color: $colorLine;
    height: 100vh;
    padding: 8px 0 10px 0;
    box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;

}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 92%;
    max-width: 1200px;
    max-height: 1080px;
    min-height: 300px;
    height: calc(100% - 100px);
    margin: 0 auto;
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.notebook {
    width: 938px;
    height: 744px;
    box-sizing: border-box;
    border: 5px solid $black;
    border-radius: 3%;
    display: flex;
    padding: 0 1px;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: $bgNotebook;

    .bookmark {
        width: 19px;
        height: 88px;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 51%;
        z-index: 0;
        transform: translateY(100%);
        img{
            width: 100%;
            height: 100%;
        }
    }
    .bookmark-right{
        display: inline-block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(100%, -50%);
        height: 35px;
        width: 40px;
        img{
            height: 100%;
            width: 100%;
        }
    }
}

.page {
    width: 50%;
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.left {
    border-right: 1px solid $colorLine;
    border-radius: 2% 0 0 2%;
}

.pages{
    border-radius: 2%;
    display: flex;
    justify-content: center;
    width: calc(100% - 5px);
    border-right: 1px solid $colorLine;
    border-left: 1px solid $colorLine;
    box-sizing: border-box;
    justify-content: center;
}

.page-info {
    height: 13%;
    padding-left: 5%;
    border-bottom: 1px solid $colorLine;
    padding-bottom: 5%;
    box-sizing: border-box;
    vertical-align: top;

    .bottom-text {
        display: flex;
        justify-content: space-between;
    }

    .dates {
        margin-top: 20px;
    }

    .text {
        display: inline-block;
        font-size: 11px;
        margin-top: auto;
        margin-right: 20px;
        color: $colorTextTop;
        flex-basis: 65%;

        .year {
            margin-left: -3em;
        }
    }

    .day {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: lighter;
        color: $colorTextDOW;
        line-height: 100%;

        h1 {
            font-weight: normal;
            font-size: inherit;
        }
    }

    .month {
        font-weight: bold;
        font-size: 18px;
        line-height: 1.3;
        color: $colorTextDayDate;
        margin-bottom: 0;
    }

    .date {
        font-weight: bold;
        font-size: 20px;
        line-height: 1.3;
        color: $colorTextDayDate;
        display: inline-block;
    }
}

.right {
    border-radius: 0 2% 2% 0;

    .page-info {
        padding-left: 0;
        padding-right: 5%;

        .day, .month, .date {
            text-align: right;
        }

        .bottom-text {
            flex-direction: row-reverse;

            .text {
                margin-left: 6em;
            }
        }
    }

}

.number {
    height: auto;
    position: absolute;
    left: 0;
    line-height: 21px;
    font-size: 9px;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;

    p {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid $colorLine;
    }

    p:nth-of-type(even) {
        color: transparent;
    }

    span {
        display: inline-block;
        width: 5%;
        text-align: right;
    }

    .week {
        float: right;
        width: 10%;
        margin-right: 5%;
        color: $colorLine;
    }
}

.text-input {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 84%;

    textarea {
        padding: 0;
        padding-left: 7%;
        padding-right: 3%;
        font-family: 'Istok Web', sans-serif;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        outline: none;
        border: none;
        overflow: hidden;
        background-attachment: local;
        resize: none;

        line-height: 22px;
        font-size: 16px;
        margin-bottom: 5%;
    }
}

//@media screen and (max-width: 900px) {
//    body {
//        padding: 20px 0;
//    }
//    .container {
//        height: 94%;
//    }
//}

@media screen and (max-width: 500px) {
    .wrapper {
        width: 520px;
        padding: 5px;
        height: 400px;
    }
    body {
        padding: 0;
        height: 96vh;
    }
    .pages{
        width: calc(100% - 2px);
    }
    .notebook {
        position: absolute;
        max-width: 500px;
        height: 390px;

        .bookmark {
            width: 14px;
            height: 45px;
        }
        .bookmark-right{
            width: 20px;
            height: 20px;
        }

        .page-info {
            .dates {
                margin-top: 10px;
            }

            .day {
                font-size: 10px;
            }

            .month {
                font-size: 8px;
            }

            .date {
                font-size: 8px;
            }

            .text {
                font-size: 6px;
                line-height: 7px;
            }
        }

        .text-input {
            textarea {
                line-height: 12px;
                font-size: 9px;
            }
        }

        .number {
            line-height: 11px;

            span {
                width: 6%;
            }

            .week {
                width: 16%;
            }

        }
    }

}