@media screen and(max-width: 1600px) {
  
}

//######################################################################################################################

@media screen and (max-width: 1366px){
  .header{
    .my{
      padding: 50px 15px 0;
    }
  }
}

//######################################################################################################################

@media screen and(max-width: 1280px) {

  //default*************************************************************************************************************
  .container{
    padding: 0 20px;
  }
  .section-title > *{
    font-size: 28px;
  }

  //end default styles**************************************************************************************************


  //begin header styles*************************************************************************************************
  .header{
    .head-image{
      img{
        margin-left: -11px;
      }
    }
  }

  //end header styles***************************************************************************************************


  //begin skills section styles*****************************************************************************************

  .skills{
    .section-title{
      padding: 50px 10px 0;
    }
    .list-skills{
      margin-bottom: 50px;
    }
  }
}

//######################################################################################################################

@media screen and(max-width: 1024px) {
  //default styles******************************************************************************************************
  .section-title > *{
    font-size: 24px;
  }

  //end default styles**************************************************************************************************


  //begin header styles*************************************************************************************************
  .header{
    .my{
      max-width: 600px;
      &-title{
        font-size: 30px;
      }
      &-description{
        font-size: 17px;
        line-height: 1.2em;
      }
    }
  }

  //end header styles***************************************************************************************************


  //begin section skills styles*****************************************************************************************
  .skills{
    margin-top: -150px;
    .section-title{
      padding-top: 30px;
      margin-bottom: 30px;
    }
    .list-skills{
      margin-bottom: 30px;
      .item{
        &-img img{
          max-height: 50px;
        }
        &-title > *{
          font-size: 20px;
        }
        &-description > *{
          font-size: 18px;
        }
      }
    }
  }
}

//######################################################################################################################

@media screen and (max-width: 992px) {

}