//variables

$colorWhite: #fff;
$colorRed: #ff6342;
$colorRedHover: #ff231c;
$colorGrey: #9d9d9d;


//######################################################################################################################

//begin header styles***************************************************************************************************

.header{
  background: url(../img/background.svg) no-repeat;
  background-size: cover;
  .navbar{
    position: fixed;
    width: 100%;
    background-color: #222;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #080808;
    padding: 10px 0;
    transform: translateY(-100%);
    transition: 1s all;
    opacity: 0;
    &-menu{
      display: flex;
      justify-content: center;
    }
    .btn{
      display: none;
    }
    .navbar-list{
      display: inline-flex;
      width: 100%;
      max-width: 600px;
      justify-content: space-between;
      li{
        height: 20px;
      }
      li a{
        color: $colorGrey;
        transition: .3s all;
        display: inline-flex;
        height: 100%;
        min-width: 100px;
        display: inline-flex;
        align-items: center;
        img{
          max-height: 100%;
          width: auto;
          margin-right: 5px;
        }
      }
      li a:hover{
        opacity: .7;
        transition: .3s all;
      }
    }
  }
  .navbar.view{
    transform: none;
    opacity: 1;
    transition: 1s all;
  }
  .my{
    padding: 100px 15px 0;
    margin: 0 auto;
    max-width: 900px;
    &-title{
      font-size: 42px;
      font-weight: 500;
      color: $colorWhite;
      text-align: center;
      margin-bottom: 20px;
    }
    &-description{
      font-size: 18px;
      font-weight: 500;
      line-height: 1.4em;
      color: $colorWhite;
      text-align: center;
      a{
        color: $colorRed;
        transition: .3s;
      }
      a:hover{
        color: $colorRedHover;
        transition: .3s;
      }
    }
  }
  .head-image{
    margin-top: 20px;
  }
}

//end header styles*****************************************************************************************************


//begin skills section styles*******************************************************************************************

