@media screen and (max-width: 768px) {
  html {
    margin-top: 40px; }

  .header .navbar {
    height: auto;
    min-height: 20px;
    transform: none;
    opacity: 1;
    top: 0; }
    .header .navbar .btn {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 0;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      padding: 10px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out; }
      .header .navbar .btn span {
        position: relative;
        left: 50%;
        width: 100%;
        height: 3px;
        background: #fff;
        -webkit-transform: rotate(0deg) translateX(-50%);
        -moz-transform: rotate(0deg) translateX(-50%);
        -o-transform: rotate(0deg) translateX(-50%);
        transform: rotate(0deg) translateX(-50%);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out; }
    .header .navbar btn:hover span {
      opacity: .7; }
    .header .navbar .btn.open span:nth-of-type(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg) translateY(12px); }
    .header .navbar .btn.open span:nth-of-type(2) {
      opacity: 0;
      margin-left: -30px; }
    .header .navbar .btn.open span:nth-of-type(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg) translateY(-12px); }
    .header .navbar .mobile {
      display: none;
      min-height: 30vh; }
      .header .navbar .mobile hr {
        margin: 10px -10px;
        color: #9d9d9d; }
      .header .navbar .mobile .social {
        color: #9d9d9d;
        font-size: 14px; }
        .header .navbar .mobile .social .name {
          margin-bottom: 10px; }
        .header .navbar .mobile .social .phone {
          display: flex;
          align-items: center; }
        .header .navbar .mobile .social img {
          max-height: 30px;
          margin-left: 10px; }
        .header .navbar .mobile .social .list {
          margin-top: 10px; }
          .header .navbar .mobile .social .list .title {
            margin-bottom: 5px; }
            .header .navbar .mobile .social .list .title * {
              font-weight: 700; }
          .header .navbar .mobile .social .list img {
            margin-left: 0;
            margin-right: 10px;
            width: 30px;
            height: 30px; }
          .header .navbar .mobile .social .list .item {
            display: inline-block; }
    .header .navbar .navbar-menu {
      margin-top: 30px;
      height: 150px; }
      .header .navbar .navbar-menu .navbar-list {
        flex-direction: column;
        max-width: 100%;
        height: 100%; }
  .header .my {
    padding: 20px 0 0; }
    .header .my-title {
      font-size: 25px; }
    .header .my-description {
      font-size: 16px; } }
@media screen and (max-width: 666px) {
  .header .navbar .mobile {
    height: 92vh; } }
@media screen and (max-width: 480px) {
  .header .my {
    max-width: 90%; }
    .header .my-title {
      font-size: 22px;
      margin-bottom: 10px; }
    .header .my-description {
      font-size: 14px; }
  .header .head-image {
    margin-top: 10px; } }

/*# sourceMappingURL=mobile.css.map */
